.unselectable {
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
}

body {
    min-width: 320px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Arial, sans-serif;
}

body.white-mode {
    background-color: #fff;
    color: #000;
}

body.dark-mode {
    background-color: #272727;
    color: #fff;
}

@media (max-width: 480px) {
    body.dark-mode {
        padding-left: 5px;
        padding-right: 5px;
    }

    body.white-mode {
        padding-left: 5px;
        padding-right: 5px;
    }
}

section {
    padding-left: 25px;
    padding-right: 25px;
}

.link-remaster:link {
    color: #ff0000;
}

.link-remaster:visited {
    color: #ff0000;
}

.link-remaster:focus {
    background: #ffbbbb;
}

.link-remaster:hover {
    background: #ffc5c5;
}

.link-remaster:active {
    background: #b00000;
    color: #ffc5c5;
}


@media (max-width: 960px) {
    section {
        padding-left: 0;
        padding-right: 0;
    }
}

.darkModeIcon {
    border: none;
    background-color: transparent;
    color: #ff0000;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
}

.darkModeIcon::before {
    content: '\1F318';
}

.companyName {
    background: linear-gradient(to right, red 30%, white 33% 66%, red 70%);
    text-align: center;
    color: #fff;
    padding: 20px 0;
}

.companyNameText {
    position: relative;
    padding: 10px;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.companyNameText::before {
    content: '\1F341';
    font-size: 1.5em;
    transform: translate(-50%, -50%);
}

.navigationBar {
    background: linear-gradient(to right, #bbb, #666);
    color: #fff;
    padding: 10px;
    animation: gradientAnimation 3s linear infinite alternate;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 100%; }
    100% { background-position: 100% 0%; }
}

.navigationBar ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navigationBar ul li {
    display: inline;
    white-space: nowrap;
    margin-right: 10px;
}

.navigationBar ul li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.navigationBar ul li a:hover {
    text-decoration: underline;
    color: #74baff;
}